{% extends "base.html" %}

{% block masthead %} 
<header class="masthead bg-primary text-white text-center">
            
    <div class="container d-flex align-items-center flex-column" >
        
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Cook Club</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-utensils fa-2x"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        
        
        <div class="input-group input-group-lg masthead-subheading font-weight-light mb-0" >
        
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Search your favorite recipes">
            <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
          </div>
    </div>
</header>
{% endblock %}


{% block content %} 

    
    <h2 class="page-section-heading text-center  text-secondary " style="margin-bottom: 2%; margin-top: -2%;">Login</h2>
      <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-6">
            
              <div class="card px-5 py-5"> <span class="circle"><i class="fa fa-check"></i></span>
                  <h5 class="mt-3">Get access to over 1 million <br>  recipes from around the globe</h5> <small class="mt-2 text-muted"></small>
                  <div class="form-input"> <i class="fa fa-user"></i> <input type="text" class="form-control" placeholder="User name"> </div>
                  <div class="form-input"> <i class="fa fa-lock"></i> <input type="text" class="form-control" placeholder="password"> </div>
                  <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked> <label class="form-check-label" for="flexCheckChecked"> I agree to the Cook Club Terms & Conditions </label> </div> <button class="btn btn-primary mt-4 signup">Start Cooking now</button>
                  <div class="text-center mt-4"> <span>Haven't registered yet?</span> <a href="{{  url_for('register')  }}" class="text-decoration-none">Register</a> </div>
              </div>
          </div>
      </div>
  
  


{% endblock %}