{% extends "base.html" %}

{% block masthead %} 
<header class="masthead bg-primary text-white text-center">
            
    <div class="container d-flex align-items-center flex-column" >
        
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Cook Club</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-utensils fa-2x"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        
        
        <div class="input-group input-group-lg masthead-subheading font-weight-light mb-0" >
        
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Search your favorite recipes">
            <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
          </div>
    </div>
</header>
{% endblock %}


{% block content %} 

<div class="container">

    <div class="row">
        <div class="col"></div>
        <div class="col-8"></div>
        <div class="card " style="background-color: white;">
            <div class="card-header" >
              <h1 class="recipe-title text-secondary">Upside-down Cake</h1>
            </div>
           <img
                       src="https://i.ibb.co/HxKqfBw/ginger-and-pear-61641-16x9.jpg"
                       class="card-img-top"
                       alt="..."
                     />
     
           <div class="card-body">
                 <!-- 'Uploaded by' username Subheading-->
                       <p class="card-text">
                         <h6 class="text-muted">Uploaded by Tom Smith</h6>
                       </p>
                <!-- Required Ingredients Section-->
                <ul class="required-ingredients">
                  <h2 class="section-title text-secondary">Required Ingredients</h2>
                  <li>Butter</li>
                  <li>Milk</li>
                  <li>Flour</li>
                  <li>Sugar</li>
                  <li>Lemon</li>
                </ul>
               <!-- Cooking Instructions Section-->
                <ul class="cooking-instructions">
                <h2 class="section-title text-secondary">Cooking Instructions</h2>
                  <p> Place instructions in here.
     
     
     
     
     
     
     
                 </p>
               
           
     
     
     
     
     
           </div>
     
     
     </div>
        
        
        
              
        <div class="col"></div>
    </div>
    




</div>
  
  


{% endblock %}